[theme:title]{{ .Name }}[/theme]

{{ if .Description -}}
{{ text.Wrap .Columns .Description }}

{{ end -}}
{{ if .Usage -}}
[theme:heading]USAGE[/theme]
{{ text.Indent 2 .Usage }}

{{ end -}}
{{ if .Examples -}}
[theme:heading]EXAMPLES[/theme]
{{ text.IndentLines 2 .Examples }}

{{ end -}}
{{ range .CommandGroups -}}
{{ template "commands.tmpl" . }}

{{ end -}}
{{ if .Arguments -}}
{{ template "args.tmpl" . }}

{{ end -}}
{{ range .FlagGroups -}}
{{ template "flags.tmpl" . }}

{{ end -}}
{{ if .Hint.Show -}}
{{ hint .Hint.Path }}
{{ end -}}
{{ if .Notice -}}
[theme:emphasis]A new version is available:[/theme] [theme:label]{{ .Notice.Current }}[/theme] → [theme:label]{{ .Notice.Latest }}[/theme]
{{ end -}}
