[theme:title]{{ .Name }}[/theme]

{{ if .Usage -}}
[theme:heading]USAGE[/theme]
{{ text.Indent 2 .Usage }}

{{ end -}}

Run [theme:emphasis]{{ printf "%s --help" .CommandPath }}[/theme] for more details.
