{{- $width := text.MaxWidth build.FieldNames -}}
[theme:title]{{ .Name }}[/theme] (version {{ build.Version }})

[theme:heading]BUILD DETAILS[/theme]
{{- range build.Fields }}
  [theme:label]{{ text.Pad $width .Name }}[/theme] [theme:value]{{ .Value }}[/theme]
{{- end }}
